.add-fpo-button {
    position: fixed;
    top: 10px;
    right: 10px;

    button {
        background-color: #009a4a;
        border: none;
        border-radius: 50%;
        color: #fff;
        padding: 3px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .table-container {
        width: 90%;
        padding: 5px;
        overflow-x: auto;
        height: calc(100vh - 75px);

        table {
            width: 100%;
            border-spacing: 0;

            thead {
                font-size: 14px;
                font-weight: 400;
                position: sticky;
                top: 0;
                z-index: 2;

                tr {
                    border-top: 1px solid #ccc;
                }

                th {
                    padding: 15px 5px;
                    min-width: 80px;
                    background-color: #009a4a;
                    color: #fff;
                    font-weight: 500;
                    // word-wrap: ;
                    text-wrap: wrap;
                }
            }

            tbody {
                font-size: 12px;
                font-weight: 400;
                overflow-y: scroll;
                height: 200px;

                tr {
                    cursor: pointer;

                    td {
                        padding: 10px 5px;
                        text-align: center;

                        button {
                            background-color: transparent;
                            color: #009a4a;
                            border: none;
                        }
                    }

                    &:nth-child(even) {
                        background-color: #eaeaea;
                    }

                    &:nth-child(odd) {
                        background-color: #fff;
                    }

                    td.center-align {
                        text-align: center;
                    }

                    &:hover {
                        background-color: #d0f3e1;
                    }
                }

            }
        }
    }
}



table thead th:first-child {
    position: sticky;
    left: -5px;
    z-index: 2;
    background-color: inherit;
}

table thead th:last-child {
    position: sticky;
    right: -5px;
    z-index: 2;
    background-color: inherit;

}

table tbody td:first-child {
    position: sticky;
    left: -5px;
    background-color: inherit;
    z-index: 1;

}

table tbody td:last-child {
    position: sticky;
    right: -5px;
    background-color: inherit;
    z-index: 1;
}


.dialog-container {
    display: flex;
    flex-direction: column;
    padding: 15px;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .title {
            font-size: 20px;
            padding-bottom: 16px;
        }

    }

    .content {
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        overflow-y: auto;
        height: calc(100vh - 130px);

        .content-body {
            display: flex;
            flex-direction: row;
            gap: 5px;
            flex-wrap: wrap;
            font-size: 12px;
            justify-content: space-between;
            width: 98%;

            .input-container {
                flex: 23%
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 5px;
        padding-top: 10px;

        button {
            padding: 5px 10px;
            border: none;
            border-radius: 14px;
            cursor: pointer;

            &:hover {
                background-color: #d0f3e1;
            }
        }

        .submit-button {
            background-color: #009a4a;
            color: #fff;
        }
    }
}



.file {
    label {
        display: block;
        font:
            13px 'Fira Sans',
            sans-serif;
    }

    input,
    label {
        margin: 0.4rem 0;
    }

}